#!/usr/bin/make -f

export DH_VERBOSE := 1

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -rf drivers_*/

override_dh_auto_build:
	$(MAKE) gnuefi
	$(MAKE) fs_gnuefi

override_dh_auto_install:
	# "make install" actually runs "efi-install" for the current system, so let's not do that :)
	./debian/debinstall ./debian/refind

override_dh_install:
	dh_install
	rm -r debian/refind/usr/share/refind/refind/icons/svg # we don't want the SVGs installed
	# TODO gptsync into tools_...?

override_dh_installchangelogs:
	dh_installchangelogs NEWS.txt
